<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hi <%= @user.name %>,</h4>

<p>Use the code below in the app to reset your password.</p>

<h2><%= @token.to_s.insert(3, '-') %></h2>

<p>Just so you know: You have 24 hours to pick your password. After that, you'll have to ask for a new one.</p>

<p>Didn't ask for a new password? You can ignore this email.</p>

<p> Best Regards </p>
<p> Retrievr </p>
  </body>
</html>