<head>
  <style>
    @font-face {
      font-family: timeburner;
      src: url(timeburnernormal-webfont.woff);
    }
    body {
      background-color: #00b894;
      background-repeat: no-repeat, repeat;
      background-position: center;
      background-size: cover;
      font-family: timeburner;
      margin: 0;
    }
    .poster-container {
      text-align: center;
    }
    .poster {
      margin-top: -10px;
      background-color: #dfe6e9;
      display: inline-block;
      width: 100%;
      /* align-items: space-around */
    }
    .store-div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: -20px;
    }
    .bottom-stuff {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      padding: 15px;
      justify-content: space-between;
      align-items: center;
    }
    .top-bar {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 15px;
    }
    .icon-image {
      border-radius: 15px;
      height: 80px;
      width: 80px;
    }
    .store-link {
      text-decoration: none;
    }
    .store-link:hover {
      color: #00b894;
      text-decoration: underline;
    }
    .middle {
      margin-top: -15px;
      background-image: url("https://www.thecoastnews.com/wp-content/uploads/2018/05/bigstock-147796067-1.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
      width: 100%;
    }
    .missing-toggle {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    .missing-button {
      background-color: rgba(223, 230, 233,0.9);
      border-radius: 10px;
      height: 140px;
      width: 300px;
      text-decoration: none;
    }
    .missing-button:hover {
      background-color: rgba(223, 230, 233,0.65);
    }
  </style>
</head>
<body>
    <div class="poster-container">
      <div class="poster">
        <div class="middle">
          <div class="top-bar">
            <img src="https://is1-ssl.mzstatic.com/image/thumb/Purple113/v4/b0/7d/87/b07d8707-36c8-021d-c40f-e8eebccaa811/Icon-83.5@2x.png.png/75x9999bb.png" class="icon-image" alt="icon"/>
            <h1 style="text-align: center; font-size: 60px; color: #00b894; margin-left: 20px;">Retrievr</h1>
            <div class="icon-image"></div>
          </div>
          <div class="missing-toggle">
            <a href="http://retrievr-api.herokuapp.com/missing-posters" style="text-decoration: none;"><div class="missing-button">
              <h3 style="padding-top: 20%; color: #00b894; font-size: 20px; text-decoration: none;">View Missing Pet Posters</h3>
            </div></a>
          </div>
        </div>
        <div class="store-div">
          <div>
            <a href="https://apps.apple.com/app/id1479709561"><img src="https://www.hatterasrealty.com/sites/default/files/uploads/apple-app-store-icon.png" height="120"/></a>
          </div>
          <div>
            <img src="https://miro.medium.com/max/5250/1*OIIv4FEjJQMqh-zEPhtlYA.png" height="120"/>
          </div>
        </div>
        <div class="bottom-stuff">
          <a href="mailto:support@retrievrapp.com" style="font-size: 18;">Support</a>
          <a href="https://app.termly.io/document/privacy-policy/27ed6e6b-91ce-4938-bdf5-f6c9ba3361c9" style="font-size: 18;">Privacy Policy</a>
        </div>
      </div>
    </div>
  <script>

  </script>
</body>
